#include("./general-js.html")
<div class="page-footer">
  <div class="footer-artic">
    <div class="widget">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="left-text">
            <h2>About Aspen Medical Products</h2>
            <p>With 25 years of research driven design, Aspen is committed to providing patients with effective solutions to their unique spinal conditions. Aspen’s comprehensive product development approach produces ground breaking innovation with
              the therapeutic goal to improve patient outcomes. Whether it’s providing therapeutic motion restriction, reducing skin breakdown, improving posture or reducing muscle spasm, Aspen products continue to help drive industry standards in
              spinal bracing for efficacy, quality, design and outcomes.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="right-text">
            <h2>In the News<a href="">view all</a></h2>
            <div class="blog-article">
              <a href="">
                <div class="blog-article-text"><span>Ernst &amp; Young</span>
                  <div class="blog-article-name">"2017 OC Community winner…"</div>
                </div>
              </a>
            </div>
            <div class="blog-article">
              <a href="">
                <div class="blog-article-text"><span>Ernst &amp; Young</span>
                  <div class="blog-article-name">"Aspen Medical Products featured on Morning Blend…"</div>
                </div>
              </a>
            </div>
            <div class="blog-article">
              <a href="">
                <div class="blog-article-text"><span>Ernst &amp; Young</span>
                  <div class="blog-article-name">"2017 OC Community winner…"</div>
                </div>
              </a>
            </div>
          </div>
          <div class="right-text-bottom clearfix">
              <div class="wrap-text col-right">
                <h2>Call Us</h2>
                <div class="phone"><a href="tel:1-800-295-2776">800.295.2776</a></div>
              </div>
              <div class="wrap-text col-1eft">
                <h2>Stay Connected</h2>
                <div class="connected-links">
                  <a href="###" target="_blank"><img src="../images/social-fb.png" alt=""></a>
                  <a href="###" target="_blank"><img src="../images/social-fb.png" alt=""></a>
                  <a href="###" target="_blank"><img src="../images/social-fb.png" alt=""></a>
                  <a href="###" target="_blank"><img src="../images/social-fb.png" alt=""></a>
                  <a href="###" target="_blank"><img src="../images/social-fb.png" alt=""></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="footer-lists">
    <div class="widget">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-sm-9">
          <div class="row">
            <div class="col-xs-6 col-md-4 col-sm-4">
              <ul>
                <li><a class="header-footer-block">公司</a></li>
                <li><a href="">产品</a></li>
                <li><a href="">新闻</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-md-4  col-sm-4">
              <ul>
                <li><a class="header-footer-block">账号</a></li>
                <li><a href="">客户登录</a></li>
                <li><a href="">注册</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4">
              <ul>
                <li><a class="header-footer-block">支持</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">搜索</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <p class="copyright-text">Copyright 2019 Aspen Medical Products</p>
          <div class="copyright-links">
            <a href="">条款和条件</a>
            <a href="">隐私政策</a>
            <a href="">担保</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
