<nav class="page-nav">
  <div class="page-nav-wrapper">
    <div class="page-nav-con">
      <div class="nav-items mobile-only">
        <a class="nav-item-switch">Menu</a>
        <div class="language-flags">
          <a href="javascript:;" class="flag">
            <img src="../images/en_US.svg" class="flag">
          </a>
          <a href="javascript:;" class="flag">
            <img src="../images/en_US.svg" class="flag">
          </a>
        </div>
        <span class="nav-close"></span>
      </div>
      <ul class="nav-content">
        <li class="level0 parent">
          <a href="javascript:;" class="level-top"><span>Products</span></a>
          <div class="submenu-wrapper">
            <ul class="submenu">
              <li class="level1 parent">
                <a href="javascript:;" class="top-category"><span>Upper Spine</span></a>
                <ul class="submenu no-border">
                  <li class="level2"><a href="javascript:;"><span>Vista</span></a></li>
                  <li class="level2"><a href="javascript:;"><span>Classic</span></a></li>
                  <li class="level2"><a href="javascript:;"><span>Pediatric</span></a></li>
                  <li class="level2"><a href="javascript:;"><span>Sierra</span></a></li>
                </ul>
              </li>
              <li class="level1 parent">
                <a href="javascript:;" class="top-category"><span>Lower Spine</span></a>
                <ul class="submenu no-border">
                  <li class="level2"><a href="javascript:;"><span>Peak</span></a></li>
                  <li class="level2"><a href="javascript:;"><span>Vista</span></a></li>
                  <li class="level2"><a href="javascript:;"><span>Summit</span></a></li>
                  <li class="level2"><a href="javascript:;"><span>Horizon</span></a></li>
                </ul>
              </li>
              <li class="level1 parent">
                <a href="javascript:;" class=" top-category"><span>Product Lines</span></a>
                <ul class="submenu no-border">
                  <li class="level2"><a href="javascript:;"><span>Vista Upper Spine</span></a></li>
                  <li class="level2"><a href="javascript:;"><span>Classic Upper Spine</span></a></li>
                  <li class="level2"><a href="javascript:;"><span>Peak</span></a></li>
                  <li class="level2"><a href="javascript:;"><span>Vista Lower Spine</span></a></li>
                </ul>
              </li>
              <li class="level1 parent">
                <a href="javascript:;" class="top-category"><span>Accessories</span></a>
                <ul class="submenu no-border">
                  <li class="level2">
                    <a href="javascript:;"><span>Replacement Parts &amp; Hot/Cold Packs</span></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
      <li class="level0 parent">
          <a href="javascript:;" class="level-top"><span>Who We Serve</span></a>
          <div class="submenu-wrapper">
            <ul class="submenu">
              <li class="level1"><a href="javascript:;"><span>Healthcare Providers</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Patients and Caregivers</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Acute Restriction</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Pain Therapy</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Active Influence</span></a></li>
            </ul>
          </div>
        </li>
        <li class="level0 parent">
          <a href="javascript:;" class="level-top"><span>Resources</span></a>
          <div class="submenu-wrapper">
            <ul class="submenu">
              <li class="level1"><a href="javascript:;"><span>Product Resources</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Brace Modifications</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Instructional Videos</span></a></li>
            </ul>
          </div>
        </li>
        <li class="level0 parent">
          <a href="javascript:;" class="level-top"><span>Research</span></a>
          <div class="submenu-wrapper">
            <ul class="submenu">
              <li class="level1"><a href="javascript:;"><span>Clinical Research</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Upper Spine Research</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Lower Spine Research</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Biomechanical Analysis</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Outcome Studies</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Sponsored Grant</span></a></li>
            </ul>
          </div>
        </li>
      <li class="level0">
          <a href="javascript:;" class="level-top"><span>International</span></a>
      </li>
      <li class="level0 parent">
          <a href="javascript:;" class="level-top"><span>About Us</span></a>
          <div class="submenu-wrapper">
            <ul class="submenu">
              <li class="level1"><a href="javascript:;"><span>The Aspen Story</span></a></li>
              <li class="level1"><a href="javascript:;"><span>The Aspen Way </span></a></li>
              <li class="level1"><a href="javascript:;"><span>Awards</span></a></li>
              <li class="level1"><a href="javascript:;"><span>News</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Aspen Cares</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Partners Program</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Submit A Testimonial</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Submit An Idea</span></a></li>
              <li class="level1"><a href="javascript:;"><span>Request A Demo</span></a></li>
            </ul>
          </div>
        </li>
      <li class="level0">
          <a href="javascript:;" class="level-top"><span>Contact Us</span></a>
        </li>
      </ul>
    </div>

    <div class="page-nav-con page-nav-child mobile-only">
      <div class="nav-items">
        <span class="back"></span>
        <span class="menu-nav-title"></span>
        <span class="nav-close"></span>
      </div>
      <div class="nav-content">  </div>
  </div>

  <div class="page-nav-con page-nav-grandson mobile-only">
    <div class="nav-items">
      <span class="back"></span>
      <span class="menu-nav-title"></span>
      <span class="nav-close"></span>
    </div>
    <div class="nav-content">  </div>
</div>

  </div>
</nav>
