<ul class="items">
  <li class="item">
    <a class="parent-category top" href="https://www.aspenmp.com/upper-spine.html">
      <span>Upper Spine</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/upper-spine/vista.html">
      <span>Vista</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/upper-spine/classic.html">
      <span>Classic</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/upper-spine/pediatric.html">
      <span>Pediatric</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/upper-spine/sierra.html">
      <span>Sierra</span>
    </a>
  </li>
  <li class="item">
    <a class="parent-category" href="https://www.aspenmp.com/lower-spine.html">
      <span>Lower Spine</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/peak.html">
      <span>Peak</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/vista.html">
      <span>Vista</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/summit.html">
      <span>Summit</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/horizon.html">
      <span>Horizon</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/evergreen.html">
      <span>Evergreen</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/contour.html">
      <span>Contour</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/aspen-sierra.html">
      <span>Aspen Sierra</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/classic.html">
      <span>Classic</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/aspen-lumbar.html">
      <span>Aspen Lumbar</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/lower-spine/aspen-ots.html">
      <span>Aspen OTS</span>
    </a>
  </li>
  <li class="item">
    <a class="parent-category" href="https://www.aspenmp.com/product-lines.html">
      <span>Product Lines</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/vista-upper-spine.html">
      <span>Vista Upper Spine</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/classic-upper-spine.html">
      <span>Classic Upper Spine</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/peak.html">
      <span>Peak</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/vista-lower-spine.html">
      <span>Vista Lower Spine</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/summit.html">
      <span>Summit</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/horizon.html">
      <span>Horizon</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/evergreen.html">
      <span>Evergreen</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/contour.html">
      <span>Contour</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/aspen-sierra.html">
      <span>Aspen Sierra</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/classic-lower-spine.html">
      <span>Classic Lower Spine</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/aspen-ots.html">
      <span>Aspen OTS</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-lines/aspen-lumbar.html">
      <span>Aspen Lumbar</span>
    </a>
  </li>
  <li class="item">
    <a class="parent-category" href="https://www.aspenmp.com/product-shop.html">
      <span>Accessories</span>
    </a>
  </li>
  <li class="item">
    <a href="https://www.aspenmp.com/product-shop/need-replacement-parts.html">
      <span>Replacement Parts &amp; Hot/Culd Packs</span>
    </a>
  </li>
</ul>
